@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #080808;
    color: #FFF;
}

.body_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    /* min-width: 200px; */
}

.header {
    flex: 0 0 auto;
    text-align: center;
    margin: 2rem 16px;
    border-bottom: 2px solid #FFF;
}

.header img {
    
    
    height: 100%;
    max-width: 300px;
    object-fit:contain; 
    padding-bottom: 1rem;
}

.content {
    flex: 1 0 auto;
    text-align: center;
    padding: 0 32px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.content__header {
    flex: 0 0 auto;
    margin-bottom: 2rem;
}

.powders_images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.powders_images img {
    width: 100px;
    padding: 8px;
}
.conten__checkdiv {
    flex: 1 0 auto;
    border: 1px solid white;
    /* min-height: 400px; */
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.conten__checkdiv img {
    margin-right: 24px;
}

#chcd_code {
    height: 32px;
    min-width: 200px;
    margin: 8px;
    padding: 0 8px;
}

#chcd_button {
    height: 32px;
    background-color: white;
    padding: 0 16px;
    font-family: inherit;
    font-weight: 600;

}

#chcd_button:hover {
    cursor: pointer;
    transform: scale(1.05);  
}

.conten__footer {
    flex: 0 0 auto;
}

.content h1 {
    margin-bottom: 2rem;
    letter-spacing: 2px;
}
.footer {
    flex: 0 0 auto;
    text-align: center;
    padding: 2rem;
}


h1 {
    text-transform: uppercase;
}